html, body{
    font-family: sans-serif;
    background-color: pink;
    margin: 0;
    height: 100%;
}
.container{
    min-height: 100%;
    position: relative;
}
main{
    padding-bottom: 40px;
}
header, footer{
    background-color: aliceblue;
    color: palevioletred;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
}
footer{/* positiong fixed on footer will make the footer float across the page and cover content */
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1em;
}
*{
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-flow: row wrap;  /* change this to column wrap if you want for responsive mobile*/
}
nav a{
    text-decoration: none;
    padding: 1em;
    text-transform: uppercase;
    color: palevioletred;
}
nav a:hover{
    background-color: aliceblue;
    color: palevioletred;
}
nav a:active{/* active class has to be inserted into <a> element */
    background-color: aliceblue;
    color: palevioletred;
}
main{
    display: flex;
    gap: 15px 20px;
    flex-flow: row wrap; /* if not using wrap you could break your code */
    padding-bottom: 30px;
}
.aside{
    flex: 1; /* takes up 1 row-space because flex-flow is definied as row-wrap */
    padding: 1em ;
}
.section{
    flex: 4; /* takes up 4 row-space because flex-flow is definied as row-wrap */
    text-align: justify;
    padding: 1em ;
}
.picture-center{
    text-align: center;
}

@media screen and (max-width:720px) {
    header{
        display: none;
    }
    nav{
        flex-flow: column wrap;
        text-align: center;
    }
.aside{
        order: 1;
        flex: 100%;
    }
}