html, body{
    font-family: sans-serif;
    background-color: pink;
    margin: 0;
    height: 100%;
}
.container{
    min-height: 100%;
    position: relative;
}
main{
    padding-bottom: 40px;
}
header, footer{
    background-color: aliceblue;
    color: palevioletred;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
}
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}
/* positiong fixed on footer will make the footer float across the page and cover content